/* Main css file */

:root {
    --main-color: #0000;
    --second-color: #0000;

    --main-font-color: #af8b39;
    --second-font-color: #6d6d6d;
    --third-font-color: white;

    --main-background-color: rgba(255, 255, 255, 0.9);
    --second-background-color: rgba(46, 61, 73, 0.1);
    --third-background-color: white;


    --button-background-color: #af8b39;
    --button-second-color: #8c7031;

    --button-third-color: #82807b6e;
    --button-third-color-additional: #82807b;

    --test-color: #39644c;
    --test-color_2: #28533b;
}

.great-vibes-regular {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}
.row-flex-div {
    display: flex;
    flex-direction: row;
}
.column-flex-div {
    display: flex;
    flex-direction: column;
}

/* Colors */
h1, h2 {
    color: var(--test-color);
}
h3 {
    color: var(--third-font-color);
}
p {
    color: var(--second-font-color);
}
button {
    background-color: var(--test-color);
}
button:hover {
    background-color: var(--test-color_2);
}
input {
    border-color: var(--test-color);
}


/* Заголовок */
h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 1.5px;
}
h2 {
    font-size: clamp(2rem, 2.5rem + 1vw, 3rem);
}
h3 {
    font-size: clamp(1.5rem, 2.0rem + 1vw, 2.5rem);
}

/* Кнопки */
button {
    font-size: 1.5rem;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Main */
body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    overflow-x: hidden;
}
.main-body {
    /* background-image: url("../images/wedding_photo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--test-color);
}
.container {
    text-align: center;
    margin: 4rem auto;
    padding: 20px;
    max-width: 800px;

    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

    color: var(--second-font-color);
    background-color: var(--main-background-color);
}

/* Sections */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    padding: 2rem 3rem;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.page-header {
    & .header-padding {
        padding: 0 2rem;
    }
    & .image-container img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    & .page-header-texts {
        & h2, blockquote {
            font-size: 2rem;
            margin: 0;
        }
        & p {
            font-size: 1.8rem;
        }

        & .names {
            margin: 1rem;
            font-size: 3.5rem;
        }
        & .date {
            font-size: 2.5rem;
            padding: 0 3rem;
            margin: 0px;
            border-left: 2px solid var(--second-font-color);
            border-right: 2px solid var(--second-font-color);
        }
        & .wedding-time {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 1rem 0;
            & p {
                color: var(--main-font-color);
            }
        }
        & .invite-text {
            margin: 3rem 0;
            font-size: 1.5rem;
            line-height: 1.8;
        }
        .rsvp {
            align-items: center;
            justify-content: space-evenly;
            & button {
                padding: 20px;
                margin: 2rem;
                font-style: italic;
            }
            & .line {
                border: 1px solid var(--second-font-color);
                width: 5rem;
            }
        }
        & .quote {
            color: var(--main-font-color);
            background-color: var(--second-background-color);

            margin: 3rem;
            padding: 2rem;
            border-radius: 10px;
        }
    }
}
.rspv-dialog {
    background-color: var(--third-background-color);
    border: none;
    border-radius: 10px;
    width: 50%;

    & div {
        display: flex;
        flex-direction: column;
    }

    & .dialog-container {
        padding: 1rem 2rem;

        & .dialog-header-buttons {
            align-items: flex-end;
            margin-bottom: 1rem;

            & #close-dialog-button {
                background-color: var(--button-third-color);
                padding: 1px 10px;
            }
        }

        & form {
            display: flex;
            flex-direction: column;
            text-align: left;
            border-radius: 10px;
            justify-content: space-evenly;
        }

        & h2 {
            font-size: 2.5rem;
            margin: 1rem 0;
        }
        & label {
            display: block;
            margin: 10px 0 5px;
            font-size: 1.2rem;
            color: var(--second-font-color);
        }
        & input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid;
            border-radius: 5px;
            font-size: 1rem;
            box-sizing: border-box;
        }
        & .main-info {
            margin-bottom: 1rem;
            & input:focus {
                outline: none;
                border-color: var(--button-second-color);
                box-shadow: 0 0 5px var(--button-second-color);
            }
        }
        & .alcohol {
            & .alcohol-inner {
                padding: 2rem 1rem;
                & .alcohol-option {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.3rem;
                }
                & label {
                    width: 30px;
                    min-width: 110px;
                }
                & input {
                    margin: 0;
                }
            }
        }

        & #submit-dialog-button {
            min-width: 80px;
            margin: 1rem 0;
        }
    }
}

.details {
    border-radius: 10px;
    & ul {
        text-align: left;
        background-color: var(--second-background-color);
        list-style-type: none;
        border-radius: 5px;
        padding: 3rem;
        margin: 0;

        & li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.5rem;

            & img {
                width: 30%;
                margin: 0 2rem 0 10%;
                border-right: 3px solid var(--main-font-color);
                padding-right: 4rem;
            }
            & div {
                margin-left: 3rem;
                & p {
                    margin-top: 0;
                }
                & strong {
                    color: var(--main-font-color);
                }
            }
        }
    }
}
.dress-code {
    & p {
        font-size: 1.5rem;
        line-height: 1.8;
    }
    & .dress-code-text {
        font-style: italic;
    }
}
.gifts {
    & p {
        font-size: 1.5rem;
        line-height: 1.8;
    }
}
.ceremony {
    & p {
        font-size: 1.5rem;
        line-height: 1.8;
    }
}
.map {
    & .image-place {
        background-image: url("../images/place.jpg");
        background-size: cover;
        background-position: center;
        height: 25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        & #place-name {
            padding: 1rem;
            background-color: var(--second-background-color);
            & h3 {
                margin: 0;
                text-align: center;
            }
        }
        & #place-name:hover {
            cursor: pointer;
        }
    }
    & iframe {
        width: 100%;
        border: none;
        border-radius: 15px;
        margin-top: 20px;
    }
    #google-map {
        opacity: 0;
        height: 0;
        transition: opacity 0.5s ease, height 0.5s ease;
        overflow: hidden;
    }
    #google-map.visible {
        opacity: 1;
        height: 450px;
    }
}
.countdown-div {
    & h2 {
        margin-bottom: 1rem;
    }
    & .countdown-inner-div {
        margin: 2rem 0;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & .countdown {
            padding: 1rem;
            border-radius: 10px;
            font-weight: bold;
            & .clock {
                margin: 0;
                font-size: 4rem;
                color: var(--main-font-color);
            }
            }
        }
    }
}

/* Media Queries */
@media (max-width: 430px) {
    body {
        margin: 8px;
    }
    & button {
        font-size: 1.2rem;
    }
    .section {
        padding: 1.5rem;
    }

    .page-header {
        & .image-container img {
            margin-bottom: 0;
        }
        & .header-padding {
            padding: 0;
        }
        & .page-header-texts {
            & p {
                margin: 0;
            }
            & .names {
                font-size: 3rem;
                display: flex;
                flex-direction: column;
            }
            & .wedding-time {
                flex-direction: column;
                min-height: 200px;
                justify-content: space-evenly;
                margin: 0;
            }
            & .date {
                font-size: 2.1rem;
                border: none;
                padding: 0;
            }
            & .invite-text {
                margin: 0 0 2rem 0;
            }
            & .quote {
                padding: 2rem;
                margin: 2rem 0;
            }
            & .rsvp {
                & .line {
                    display: none;
                }
                & button {
                    margin: 0;
                }
            }
        }
    }
    .details {
        & ul {
            padding: 1rem 3rem;
            & li {
                flex-direction: column;
                margin: 1rem;
                & img {
                    width: 70%;
                    padding-right: 0;
                    margin: 0;
                    border-right: unset;
                }
                & div {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & p {
                        text-align: center;
                    }
                }
            }
        }
    }
    .countdown-div {
        & .countdown-inner-div {
            flex-direction: column;
        }
    }

    & .rspv-dialog {
        width: 75%;
        & .dialog-container {
            padding: 1rem 1.5rem;
            & h2 {
                font-size: 1.8rem;
                text-align: center;
                margin: 1.5rem 0;
            }
            & label {
                font-size: 1rem;
            }
            & .alcohol {
                & .alcohol-inner {
                    padding: 2rem 0;
                }
            }
            & .dialog-header-buttons {
                & #close-dialog-button {
                    padding: 4px 10px;
                    font-size: 0.5rem;
                }
            }
        }
    }
}
