:root {
    --main-color: #0000;
    --second-color: #0000;

    --main-font-color: #af8b39;
    --second-font-color: #6d6d6d;

    --main-background-color: rgba(255, 255, 255, 0.9);
    --second-background-color: rgba(46, 61, 73, 0.1);;
    --third-background-color: white;


    --button-background-color: #af8b39;
    --button-second-color: #8c7031;

    --button-third-color: #82807b6e;
    --button-third-color-additional: #82807b;
}

.great-vibes-regular {
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}
.row-flex-div {
    display: flex;
    flex-direction: row;
}
.column-flex-div {
    display: flex;
    flex-direction: column;
}

/* Заголовок */
h1 {
    margin-bottom: 20px;

    font-size: 3rem;
    font-style: italic;
    letter-spacing: 1.5px;
    color: var(--main-font-color);
}
h2 {
    font-size: 2rem;
}

/* Кнопки */
button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: var(--button-background-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--button-second-color);
}

/* Main */
body {
    margin: 0;
    padding: 0;
    background-image: url("../images/wedding_photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
    overflow-x: hidden;
}
.container {
    text-align: center;
    margin: 4rem auto;
    padding: 20px;
    max-width: 800px;

    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

    color: var(--second-font-color);
    background-color: var(--main-background-color);
}

/* Sections */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    padding: 2rem 3rem;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}

.page-header {
    & .image-container img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    & .page-header-texts {
        & .names {
            margin: 1rem;
        }
        & h1 {
            font-size: 3.5rem;
        }
        & h2, p, blockquote {
            font-size: 1.8rem;
            margin: 0;
        }
        & .date {
            font-size: 2.5rem;
            padding: 0 3rem;
            margin: 0px;
            border-left: 2px solid var(--second-font-color);
            border-right: 2px solid var(--second-font-color);
        }
        & .wedding-time {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1.3rem;
        }
        & .quote {
            color: var(--main-font-color);
            background-color: var(--second-background-color);

            margin: 3rem;
            padding: 2rem;
            border-radius: 10px;

        }
        .rsvp {
            align-items: center;
            justify-content: space-evenly;
            & .quote {
                margin: 0;
                padding: 0;
                font-size: 3rem;
                color: var(--button-second-color);
                background-color: transparent;
            }
            & button {
                padding: 20px;
                margin: 2rem;
                font-size: 1.5rem;
                font-style: italic;
            }
        }
    }
}
.rspv-dialog {
    background-color: var(--third-background-color);
    border: none;
    border-radius: 10px;
    width: 40%;

    & div {
        display: flex;
        flex-direction: column;
    }

    & .dialog-container {
        padding: 2rem;

        & .dialog-header-buttons {
            align-items: flex-end;
            & #close-dialog-button {
                background-color: var(--button-third-color);
                padding: 5px 10px;
            }
        }

        & form {
            height: 90%;
            display: flex;
            flex-direction: column;
            text-align: left;
            border-radius: 10px;
            justify-content: space-evenly;
        }

        & h2 {
            font-size: 2rem;
            margin: 15px 0;
        }
        & label {
            display: block;
            margin: 10px 0 5px;
            font-size: 1.2rem;
            color: #2e3d49;
        }
        & input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid var(--button-background-color);
            border-radius: 5px;
            font-size: 1rem;
            box-sizing: border-box;
        }
        & .main-info {
            & input:focus {
                outline: none;
                border-color: var(--button-second-color);
                box-shadow: 0 0 5px var(--button-second-color);
            }
        }
        & .alcohol {
            & .alcohol-inner {
                padding: 2rem;
                & .alcohol-option {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0.3rem;
                }
                & label {
                    width: 30px;
                    min-width: 80px;
                }
                & input {
                    margin: 0;
                }
            }
        }

        & #submit-dialog-button {
            min-width: 80px;
            margin: 1rem 0;
        }
    }
}

.details {
    border-radius: 10px;
    & ul {
        text-align: left;
        background-color: var(--second-background-color);
        list-style-type: none;
        border-radius: 5px;
        padding: 2rem;

        & li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.5rem;

            & img {
                margin: 0 2rem 0 10%;
                border-right: 3px solid var(--main-font-color);
                padding-right: 4rem;
            }
            & div {
                margin-left: 3rem;
                & p {
                    margin-top: 0;
                }
                & strong {
                    color: var(--main-font-color);
                }
            }
        }
    }
}
.gifts {
    & h2 {}
    & p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: #3b4c57;
    }
}
.map {
    & .image-place {
        background-image: url("../images/place.jpg");
        background-size: cover;
        height: 25rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;

        & h2 {
            background-color: var(--second-background-color);
            text-align: center;
            padding: 2rem;
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 1px 1px 0px white;
        }
    }
    & iframe {
        display: none;
        width: 100%;
        height: 300px;
        border: none;
        border-radius: 15px;
        margin-top: 20px;
    }
}
.countdown-div {
    & h2 {
        margin: 1rem;
    }
    & .countdown-inner-div {
        padding: 1rem;
        border-radius: 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & .countdown {
            background-color: var(--second-background-color);
            padding: 2rem;
            border-radius: 10px;
            font-weight: bold;
        }
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .container {}
}


@media (max-width: 426px) {
    .section {
        padding: 2rem;
    }
    .page-header {
        & .page-header-texts {
            & h1 {
                font-size: 2.5rem;
            }
            & .wedding-time {
                flex-direction: column;
                min-height: 250px;
            }
            & .date {
                border: none;
                padding: 0;
            }
            & .quote {
                padding: 2rem;
                margin: 2rem 0;
            }
            & .rsvp {
                & .quote {
                    display: none;
                }
                & button {
                    margin: 0;
                }
            }
        }
    }
    .details {
        & ul {
            & li {
                flex-direction: column;
                margin: 1rem;
                & img {
                    width: 50%;
                    padding-right: 0;
                    margin-right: 0;
                    border-right: unset;
                }
                & div {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & p {
                        text-align: center;
                    }
                }
            }
        }
    }
    .countdown-div {
        & .countdown-inner-div {
            flex-direction: column;
        }
    }

    & .rspv-dialog {
        width: 75%;
        & .dialog-container {
            & .dialog-header-buttons {
                margin-bottom: 1rem;
            }
            & h2 {
                font-size: 1.4rem
            }
            & .alcohol {
                & .alcohol-inner {
                    padding: 2rem 0;
                }
            }
        }
    }
}