/* /upload css file */

.main-body {
    height: 100vh;
    display: flex;
    align-items: center;
}

#upload-section {
    opacity: 100;
    height: 55vh;
    width: 50%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #00000045;
    border: 3px solid var(--button-second-color);
    backdrop-filter: blur(5px);

    & h1,p {
        color: #fff;
    }
    & h1 {
        font-size: 3rem;
        width: 80%;
        margin: 0 0 20px 0;
    }
    p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    & form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        border-radius: 5px;

        & input[type="file"] {
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
        & .label-button {
            background: var(--test-color);
            color: #fff;
            font-size: 1.125rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;

            & .label-button-wrapper {
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #fff;
            }
            & .label-button-text {
                padding: 1rem;
            }
        }
        & input[type="password"] {
            width: calc(100% - 5px);
            padding: 8px 5px;
        }
        /* Button */
        button {
            width: 100%;
            font-size: 1.125rem;
            padding: 10px 30px;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: var(--button-second-color);
        }
    }
}


@media (max-width: 430px) {
    #upload-section {
        height: 80vh;
        & h1 {
            font-size: 2.5rem;
            margin: 0 0 18px 0;
        }
    }
}

@media (max-width: 375px) {
    #upload-section {
        & h1 {
            font-size: 2rem;
            margin: 0 0 15px 0;
        }
    }
}