<!DOCTYPE html>
<html lang="ru">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Page description">
    <!-- META -->
    <meta property="og:title" content="Приглашение на свадьбу">
    <meta property="og:description" content="Сайт приглашение на свадьбу">
    <meta property="og:image" content="/static/images/wedding_photo_1.jpg">
    <meta name="theme-color" content="#FF00FF">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <!-- JS -->
    {% block js %}{% endblock %}
</head>
{% block content %}{% endblock %}
</html>