<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Свадебное приглашение</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="/static/images/wedding_photo.jpg" alt="Фото молодоженов">
        </div>
        <h1>Виктория и Владислав</h1>
        <blockquote class="quote">"Когда любовь заполняет сердце, всё вокруг кажется прекрасным."</blockquote>
        <p class="date">31 мая 2025</p>
        <p id="countdown" class="countdown"></p>
        <p class="message">Мы с радостью приглашаем вас отпраздновать наш особенный день!</p>
        <div class="details">
            <h2>Расписание:</h2>
            <ul>
                <li><strong>16:00:</strong> Приветствие гостей</li>
                <li><strong>16:30:</strong> Церемония</li>
                <li><strong>17:00:</strong> Фотосессия</li>
                <li><strong>18:00:</strong> Банкет</li>
                <li><strong>22:00:</strong> Танцы и праздник</li>
            </ul>
        </div>
        <div class="gifts">
            <h2>Что подарить?</h2>
            <p>Приносите с собой веселье и радость в душе, а подарки в конверте! Мы будем благодарны за любой вклад в наше будущее!</p>
        </div>

        <div class="map">
            <h2>Местоположение:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.4218351817613!2d18.540578146149432!3d48.098600027543476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476ae7ac1c26413b%3A0xfae7a5e5634a4304!2sPAVLUS%20Pub%20%26%20Restaurant!5e0!3m2!1sru!2ssk!4v1733689333051!5m2!1sru!2ssk"
                    width="600" height="450" style="border:0;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
        <div class="rsvp">
            <h2>Подтвердите своё присутствие:</h2>
            <form class="form-container">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="text" name="guests" placeholder="Количество гостей" required>
                <textarea name="message" placeholder="Ваше сообщение"></textarea>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</body>
</html>
