{% extends 'base.html' %}

{% block title %}{{ _("Svadobné pozvanie") }}{% endblock %}
{% block js%}
<script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}
{% block content %}
<body class="main-body">
    <div class="container">
    <div class="page-header">
        <div class="image-container">
            <img src="/static/images/wedding_photo.JPEG" alt="Main foto">
        </div>
        <div class="page-header-texts section">
            <h1 class="names great-vibes-regular header-padding">
                <span>{{ _("Alexandra") }}</span>
                <span>{{ _("a") }}</span>
                <span>{{ _("František") }}</span>
            </h1>
            <div class="wedding-time great-vibes-regular header-padding">
                <p>{{ _("Sobota") }}</p>
                <p class="date">03-05-2025</p>
                <p>15:00</p>
            </div>
            <p class="invite-text header-padding">
                {{ _("Radi by sme vás pozvali, aby ste s nami prežili
                neopakovateľný deň plný lásky radosti a krásnych okamihov,
                ktoré pre nás znamenajú viac, než slová dokážu vyjadriť.") }}
            </p>
            <div class="rsvp row-flex-div header-padding">
                <hr class="line">
                <button id="rspv-open-button">{{ _("Potvrdiť účasť") }}</button>
                <hr class="line">
            </div>
        </div>
    </div>
    <div class="gifts section">
        <h2 class="great-vibes-regular">{{ _("Podrobnosti") }}</h2>
        <p>
            {{ _("K svadobnému stolu si prineste dobrú náladu,
            a ak nás chcete potešiť, namiesto veľkých darov postačí
            malá pozornosť v obálke.") }}
        </p>
    </div>
    <div class="ceremony section">
        <h2 class="great-vibes-regular">{{ _("Obrad") }}</h2>
        <p>
            {{ _("Svadobný obrad sa bude konať v kostole Kresťanskej
            reformovanej cirkvi v Kalinčiakove.") }}
        </p>
    </div>
    <div class="map section">
        <h2 class="great-vibes-regular">{{ _("Miesto konania") }}</h2>
        <p style="display: none;">
            {{ _("Naša svadba sa bude konať v 'PAVLUS Pub & Restaurant'
            na adrese 'SNP' 444/197, 935 41 Tekovské Lužany'") }}
        </p>
        <div class="image-place">
            <div id="place-name">
                <h3 class="great-vibes-regular">Pavlus Pub</h3>
                <h3 class="great-vibes-regular">&</h3>
                <h3 class="great-vibes-regular">Restaurant</h3>
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.4218351817613!2d18.540578146149432!3d48.098600027543476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476ae7ac1c26413b%3A0xfae7a5e5634a4304!2sPAVLUS%20Pub%20%26%20Restaurant!5e0!3m2!1sru!2ssk!4v1733689333051!5m2!1sru!2ssk"
                id="google-map" width="600" height="450" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="dress-code section">
        <h2 class="great-vibes-regular">{{ _("Dress code") }}</h2>
        <p>
            {{ _("Budeme veľmi vďační, ak vo svojich outfitoch dodržíte dress code") }}
        </p>
        <p class="dress-code-text">Semi Formal</p>
    </div>
    <div class="details section">
        <h2 class="great-vibes-regular">{{ _("Program") }}</h2>
        <ul>
            <li>
                <img src="/static/images/timeline/rings.png" alt="">
                <div>
                    <p>{{ _("Obrad") }}</p>
                    <strong>15:00</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/glasses.png" alt="">
                <div>
                    <p>{{ _("Prvý prípitok") }}</p>
                    <strong>17:00</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/music.png" alt="">
                <div>
                    <p>{{ _("Prvý tanec") }}</p>
                    <strong>18:00</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/plates.png" alt="">
                <div>
                    <p>{{ _("Banket") }}</p>
                    <strong>18:30</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/cake.png" alt="">
                <div>
                    <p>{{ _("Torta") }}</p>
                    <strong>20:30</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/discoball.png" alt="">
                <div>
                    <p>{{ _("Tance") }}</p>
                    <strong>21:00</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/kokosnic.png" alt="">
                <div>
                    <p>{{ _("Odčepčenie") }}</p>
                    <strong>23:00</strong>
                </div>
            </li>
            <li>
                <img src="/static/images/timeline/fireworks.png" alt="">
                <div>
                    <p>{{ _("Oslava") }}</p>
                    <strong>00:00</strong>
                </div>
            </li>
        </ul>
    </div>
    <div class="countdown-div section">
        <h2 class="great-vibes-regular">{{ _("Do svadby zostáva!") }}</h2>
        <div class="countdown-inner-div">
            <div class="countdown">
                <p id="countdown-days" class="clock great-vibes-regular">0</p>
                <p>{{ _("dní") }}</p>
            </div>
            <div class="countdown">
                <p id="countdown-hours" class="clock great-vibes-regular">0</p>
                <p>{{ _("hodin") }}</p>
            </div>
            <div class="countdown">
                <p id="countdown-minutes" class="clock great-vibes-regular">0</p>
                <p>{{ _("minút") }}</p>
            </div>
        </div>
        <h2 class="great-vibes-regular">
            {{ _("S radosťou vás pozývame osláviť náš výnimočný deň!") }}
        </h2>
    </div>
    <!-- Modal window -->
    <dialog id="modal" class="rspv-dialog">
        <div class="dialog-container">
            <div class="dialog-header-buttons">
                <button id="close-dialog-button">&times;</button>
            </div>
            <form method="dialog">
                <div class="main-info">
                    <h2 class="great-vibes-regular">{{ _("Potvrdenie") }}</h2>
                    <div>
                        <input type="text" name="name" placeholder="{{ _('Meno') }}" required>
                        <input type="number" name="guests" placeholder="{{ _('Počet hostí') }}" required>
                    </div>
                </div>
                <div class="alcohol">
                    <h2 class="great-vibes-regular">{{ _("Aký alkohol uprednostňujete?") }}</h2>
                    <div class="alcohol-inner">
                        <div class="alcohol-option">
                            <label for="vine">{{ _("Víno") }}</label>
                            <input type="checkbox" id="vine" name="alcohol" value="vine">
                        </div>
                        <div class="alcohol-option">
                            <label for="beer">{{ _("Pivo") }}</label>
                            <input type="checkbox" id="beer" name="alcohol" value="beer">
                        </div>
                        <div class="alcohol-option">
                            <label for="samogon">{{ _("Domáca pálenka") }}</label>
                            <input type="checkbox" id="samogon" name="alcohol" value="samogon">
                        </div>
                        <div class="alcohol-option">
                            <label for="vodka">{{ _("Vodka") }}</label>
                            <input type="checkbox" id="vodka" name="alcohol" value="vodka">
                        </div>
                        <div class="alcohol-option">
                            <label for="gin">{{ _("Gin") }}</label>
                            <input type="checkbox" id="gin" name="alcohol" value="gin">
                        </div>
                        <div class="alcohol-option">
                            <label for="rum">{{ _("Rum") }}</label>
                            <input type="checkbox" id="rum" name="alcohol" value="rum">
                        </div>
                        <div class="alcohol-option">
                            <label for="jager">{{ _("Jagermeister") }}</label>
                            <input type="checkbox" id="jager" name="alcohol" value="jager">
                        </div>
                    </div>
                </div>
            </form>
            <button id="submit-dialog-button" type="submit" class="great-vibes-regular">{{ _("Odoslať") }}</button>
        </div>
    </dialog>
</div>
</body>
{% endblock %}
