{% extends 'base.html' %}

{% block title %}{{ _("Nahratie fotografií") }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/upload.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download"/>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/upload.js') }}" defer></script>
{% endblock %}
{% block content %}
<body class="main-body">
    <div class="section" id="upload-section">
    <h1 class="great-vibes-regular">{{ _("Nahratie fotografií!") }}</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="photo-input" class="label-button">
                <span class="label-button-wrapper">
                    <span class="material-symbols-outlined">download</span>
                </span>
            <span class="label-button-text" id="photo-input-text">{{ _("Vyberte súbor") }}</span>
        </label>
        <input type="file" name="photos" id="photo-input" multiple required>
        <input type="password" name="password" id="pwd-input" placeholder='{{ _("Heslo") }}'>
        <button type="submit">{{ _("Odoslať") }}</button>
    </form>
    {% if message %}
    <p class="great-vibes-regular">{{ message }}</p>
    {% endif %}
</div>
</body>
{% endblock %}
